<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:gray;">
    <div class="container">
    <div class="box">
        <form method="post" action="imc_result.php"> 
            <h1 > Calculo de IMC </h1> </br>
            <label> Nome: </label>
            <input type="text" name="nome"> </br></br>
            <label > Altura: </label>
            <input type="text" name="altura"> </br></br>
            <label > Peso: </label>
            <input type="text" name="peso"> </br></br>
            <button type="submit" name="dados"> Enviar </button>
        </form>
    </div>

    
</div>
</body>

<style>
    
        .container {
        width: 100vw;
        height: 100vh;
        background: #6C7A89;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
        .box {
        width: 300px;
        height: 300px;
        background: #fff;
        padding: 10px;
        }
        body {
        margin: 0px;
        }
</style>
    
</html>
